<%- include('../../../layout/header'); %>
<%- include('../../components/mobile-nav'); %>
<%- include('../../components/sidebar'); %>


<main class="content" id="current_path" data-path="/admin<%= path %>">
    <%- include('../../components/navbar'); %>

    <div class="py-4">
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Manage Students</h1>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 mb-5">
            <div class="card border-0 shadow components-section">
                <div class="card-body">
                    <form id="student_form">
                        <h5 class="mb-5">Add New Student</h5>
                        <div class="mb-3">
                            <label for="student_roll_number">Student Roll Number</label>
                            <input type="hidden" name="student_id" />
                            <input type="text" class="form-control" name="student_roll_number" id="student_roll_number" aria-describedby="roll_error" required />
                            <small id="roll_error" class="form-text text-danger"></small>
                        </div>

                        <div class="mb-3">
                            <label for="student_name">Student Name</label>
                            <input type="text" class="form-control" name="student_name" id="student_name" aria-describedby="name_error" minlength="3" required />
                            <small id="name_error" class="form-text text-danger"></small>
                        </div>

                        <div class="mb-3">
                            <label for="student_email">Student Email</label>
                            <input type="email" class="form-control" name="student_email" id="student_email" aria-describedby="email_error" required />
                            <small id="email_error" class="form-text text-danger"></small>
                        </div>

                        <div class="mb-3">
                            <label for="student_phone">Student Phone</label>
                            <input type="text" class="form-control" name="student_phone" id="student_phone" aria-describedby="phone_error" pattern="03[0-9]{2}-(?!1234567)(?!1111111)(?!7654321)[0-9]{7}" required />
                            <small id="phone_error" class="form-text text-danger"></small>
                        </div>

                        <div class="mb-3">
                            <label for="student_cnic">Student CNIC#</label>
                            <input type="text" class="form-control" name="student_cnic" id="student_cnic" aria-describedby="cnic_error" pattern="[0-9]{5}-[0-9]{7}-[0-9]{1}" required />
                            <small id="cnic_error" class="form-text text-danger"></small>
                        </div>

                        <div class="mb-3">
                            <label for="student_year">Student Year</label>
                            <input type="number" class="form-control" name="student_year" id="student_year" aria-describedby="year_error" required />
                            <small id="year_error" class="form-text text-danger"></small>
                        </div>

                        <div class="mb-4">
                            <label for="student_address">Student Address</label>
                            <textarea class="form-control" name="student_address" id="student_address" rows="4" aria-describedby="address_error" required></textarea>
                            <small id="address_error" class="form-text text-danger"></small>
                        </div>

                        <button type="submit" class="btn btn-gray-800 d-block ms-auto">Add Student</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 mb-5">
            <div class="card border-0 shadow components-section">
                <div class="card-body">
                    <h5 class="mb-5">Show All Students</h5>
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap mb-0 rounded">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th class="border-0 rounded-start">#</th>
                                    <th class="border-0">Student Name</th>
                                    <th class="border-0">Student Email</th>
                                    <th class="border-0">Student Roll</th>
                                    <th class="border-0">Student Year</th>
                                    <th class="border-0">Student Phone</th>
                                    <th class="border-0">Student CNIC#</th>
                                    <th class="border-0 rounded-end">Action</th>
                                </tr>
                            </thead>
                            <tbody id="display_students"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="card border-0 shadow components-section">
                <div class="card-body">
                    <h5 class="mb-5">Show Students Credentails</h5>
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap mb-0 rounded">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th class="border-0 rounded-start">#</th>
                                    <th class="border-0">Full Name</th>
                                    <th class="border-0">Username</th>
                                    <th class="border-0">Email</th>
                                    <th class="border-0">Password</th>
                                    <th class="border-0 rounded-end">Action</th>
                                </tr>
                            </thead>
                            <tbody id="display_students_auth"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../components/footer'); %>
</main>


<%- include('../../../layout/footer'); %>
<script src="/admin/pages/students/students.js"></script>