<%- include('../../../layout/header'); %>
<%- include('../../components/mobile-nav'); %>
<%- include('../../components/sidebar'); %>

<main class="content" id="current_path" data-path="/admin<%= path %>">
    <%- include('../../components/navbar'); %>

    <div class="modal fade" id="exam-modal" tabindex="-1" aria-labelledby="exam-modal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="exam_form">
                    <div class="modal-header">
                        <h2 class="h6 modal-title">Set Exam Duties</h2><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exam_teacher">Select Teacher</label>
                            <input type="hidden" name="exam_id" />
                            <select class="form-select" name="exam_teacher" id="exam_teacher" required></select>
                        </div>

                        <div class="mb-3">
                            <label for="exam_shift">Select Shift</label>
                            <select class="form-select" name="exam_shift" id="exam_shift" required>
                                <option value="09:00am to 12:00pm">09:00am to 12:00pm</option>
                                <option value="12:00pm to 03:00pm">12:00pm to 03:00pm</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="exam_room">Select Room</label>
                            <select class="form-select" name="exam_room" id="exam_room" required>
                                <option value="Room A">Room A</option>
                                <option value="Room B">Room B</option>
                                <option value="Room C">Room C</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Set Duty</button>
                        <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="py-4">
        <div class="d-flex justify-content-between w-100 flex-wrap mb-3 mb-lg-0">
            <h1 class="h4">Exam Duties</h1>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exam-modal">
                <i class="fa-solid fa-plus me-2"></i>
                Set Exam Duties
            </button>
        </div>
    </div>


    <div class="row">
        <div class="col-12 mb-5">
            <div class="card border-0 shadow components-section">
                <div class="card-body">
                    <h5 class="mb-5">Student Notices</h5>
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap mb-0 rounded">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th class="border-0 rounded-start">#</th>
                                    <th class="border-0">Teacher</th>
                                    <th class="border-0">Shift</th>
                                    <th class="border-0">Room</th>
                                    <th class="border-0 rounded-end">Action</th>
                                </tr>
                            </thead>
                            <tbody id="display_exam_duties"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../components/footer'); %>
</main>


<%- include('../../../layout/footer'); %>
<script src="/admin/pages/exams/exam-duties.js"></script>