<%- include('../../../layout/header'); %>
<%- include('../../components/mobile-nav'); %>
<%- include('../../components/sidebar'); %>


<main class="content" id="current_path" data-path="/admin<%= path %>">
    <%- include('../../components/navbar'); %>

    <!-- ========== Add / Update Teacher Modal ========== -->
    <div class="modal fade" id="teacher-modal" tabindex="-1" aria-labelledby="teacher-modal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">

                <form id="teacher_form">
                    <div class="modal-header">
                        <h2 class="h6 modal-title">Add New Teacher</h2><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="teacher_name">Teacher Name</label>
                            <input type="hidden" name="teacher_id" />
                            <input type="text" class="form-control" name="teacher_name" id="teacher_name" aria-describedby="name_error" minlength="3" required />
                            <small id="name_error" class="form-text text-danger"></small>
                        </div>

                        <div class="mb-3">
                            <label for="teacher_email">Teacher Email</label>
                            <input type="email" class="form-control" name="teacher_email" id="teacher_email" aria-describedby="email_error" required />
                            <small id="email_error" class="form-text text-danger"></small>
                        </div>

                        <div class="mb-3">
                            <label for="teacher_phone">Teacher Phone</label>
                            <input type="text" class="form-control" name="teacher_phone" id="teacher_phone" aria-describedby="phone_error" pattern="03[0-9]{2}-(?!1234567)(?!1111111)(?!7654321)[0-9]{7}" required />
                            <small id="phone_error" class="form-text text-danger"></small>
                        </div>

                        <div class="mb-3">
                            <label for="teacher_cnic">Teacher CNIC#</label>
                            <input type="text" class="form-control" name="teacher_cnic" id="teacher_cnic" aria-describedby="cnic_error" pattern="[0-9]{5}-[0-9]{7}-[0-9]{1}" required />
                            <small id="cnic_error" class="form-text text-danger"></small>
                        </div>

                        <div class="mb-3">
                            <label for="teacher_scale">Teacher Scale</label>
                            <select class="form-select" name="teacher_scale" id="teacher_scale" aria-describedby="scale_error" required>
                                <option value="Assosiate Professor">Assosiate Professor</option>
                                <option value="Professor">Professor</option>
                                <option value="Engineer">Engineer</option>
                            </select>
                            <small id="scale_error" class="form-text text-danger"></small>
                        </div>

                        <div class="mb-3">
                            <label for="teacher_qualification">Teacher Qualification</label>
                            <select class="form-select" name="teacher_qualification" id="teacher_qualification" aria-describedby="qualification_error" required>
                                <option value="Masters">Masters</option>
                                <option value="PhD">PhD</option>
                            </select>
                            <small id="qualification_error" class="form-text text-danger"></small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Save Teacher</button>
                        <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- ========== View Teacher Modal ========== -->
    <div class="modal fade" id="teacher-view-modal" tabindex="-1" aria-labelledby="teacher-view-modal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="h6 modal-title">View Student</h2><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label>Teacher Name</label>
                        <output class="form-control" id="v_teacher_name"></output>
                    </div>

                    <div class="mb-3">
                        <label>Teacher Email</label>
                        <output class="form-control" id="v_teacher_email"></output>
                    </div>

                    <div class="mb-3">
                        <label>Teacher Phone</label>
                        <output class="form-control" id="v_teacher_phone"></output>
                    </div>

                    <div class="mb-3">
                        <label>Teacher CNIC#</label>
                        <output class="form-control" id="v_teacher_cnic"></output>
                    </div>

                    <div class="mb-3">
                        <label>Teacher Scale</label>
                        <output class="form-control" id="v_teacher_scale"></output>
                    </div>

                    <div>
                        <label>Teacher Qualification</label>
                        <output class="form-control" id="v_teacher_qualification"></output>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- ========== Create Teacher Credentials Modal ========== -->
    <div class="modal fade" id="credentials-modal" tabindex="-1" aria-labelledby="credentials-modal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">

                <form id="credential_form">
                    <div class="modal-header">
                        <h2 class="h6 modal-title">Create Teacher Credentials</h2><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="full_name">Select Student</label>
                            <input type="hidden" name="full_name" />
                            <select class="form-select" id="full_name" aria-describedby="full_name_error" required></select>
                            <small id="full_name_error" class="form-text text-danger"></small>
                        </div>

                        <div class="mb-3">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username" aria-describedby="username_error" minlength="3" required />
                            <small id="username_error" class="form-text text-danger"></small>
                        </div>

                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="emaill_error" required readonly />
                            <small id="emaill_error" class="form-text text-danger"></small>
                        </div>

                        <div class="mb-3">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" name="password" id="password" aria-describedby="password_error" required />
                            <input type="hidden" name="role" value="¥teacher¥" />
                            <small id="password_error" class="form-text text-danger"></small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Create Credentials</button>
                        <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="py-4">
        <h1 class="h4 mb-0">Manage Teachers</h1>
    </div>


    <div class="row">
        <div class="col-12 mb-5">
            <div class="card border-0 shadow components-section">
                <div class="card-body">
                    <div class="d-flex justify-content-between w-100 flex-wrap mb-4">
                        <h5 class="h5 mb-0">Show All Teachers</h5>
                        <div class="d-flex align-items-center" style="width: 445px;">
                            <input type="text" class="form-control me-3" id="search_box" placeholder="Search..." style="width: 250px;" />
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#teacher-modal">
                                <i class="fa-solid fa-plus me-2"></i>
                                Add New Teacher
                            </button>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap mb-0 rounded">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th class="border-0 rounded-start">#</th>
                                    <th class="border-0">Teacher Name</th>
                                    <th class="border-0">Teacher Email</th>
                                    <th class="border-0">Teacher Phone</th>
                                    <th class="border-0">Teacher CNIC#</th>
                                    <th class="border-0">Teacher Scale</th>
                                    <th class="border-0">Teacher Qualification</th>
                                    <th class="border-0 rounded-end">Action</th>
                                </tr>
                            </thead>
                            <tbody id="display_teachers"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-5">
            <div class="card border-0 shadow components-section">
                <div class="card-body">
                    <div class="d-flex justify-content-between w-100 flex-wrap mb-4">
                        <h5 class="h5 mb-0">Show Students Credentials</h5>
                        <div class="d-flex align-items-center" style="width: 508px;">
                            <input type="text" class="form-control me-3" id="cred_search_box" placeholder="Search..." style="width: 250px;" />
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#credentials-modal">
                                <i class="fa-solid fa-plus me-2"></i>
                                Create Teacher Credentials
                            </button>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap mb-0 rounded">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th class="border-0 rounded-start">#</th>
                                    <th class="border-0">Full Name</th>
                                    <th class="border-0">Username</th>
                                    <th class="border-0">Email</th>
                                    <th class="border-0">Role</th>
                                    <th class="border-0 rounded-end">Action</th>
                                </tr>
                            </thead>
                            <tbody id="display_credentials"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../components/footer'); %>
</main>


<%- include('../../../layout/footer'); %>
<script src="/admin/pages/teachers/teachers.js"></script>